.terceira-sessao {
    background: #6f6f6f;
    padding: 40px 0;
}
.terceira-sessao .centro {
    max-width: 1122px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.terceira-sessao .centro img {
    margin-right: 70px;
    border: 20px solid #343434;
    border-radius: 50%;
}
.terceira-sessao .centro h2 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.terceira-sessao .centro p {
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

@media (max-width: 992px) {
    .terceira-sessao .centro {
        flex-direction: column;
    }
    .terceira-sessao .centro img {
        margin-right: 0px;
        border: 20px solid #343434;
        border-radius: 50%;
        margin-bottom: 20px;
        max-width: 100%;
    }
}
