.HeaderSection {
    color: #fff;
    height: 100vh;
}

header {
    text-align: center;
    position: absolute;
    top: 5rem;
    z-index: 5;
    left: 0px;
    right: 0px;
}

.HeaderSection h1 {
    color: #546130;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}
.HeaderSection p {
    color: #2d3b09;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
.seta_baixo {
    display: block;
    margin: 0 auto;
}

.HeaderSection .swiper-slide img {
    height: 100vh;
    width: 100%;
}

.HeaderSection .swiper-pagination-fraction,
.HeaderSection .swiper-pagination-custom,
.HeaderSection .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
}

.HeaderSection .swiper-pagination {
    width: 100%;
    height: 90px;
    background-color: rgba(52, 52, 52, 0.733);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.HeaderSection .swiper-pagination-bullet {
    border-width: 8px;
    border-color: rgb(52, 52, 52);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 43px;
    height: 43px;
    margin: 0 5px;
    transition: 0.3s;
}

.HeaderSection .swiper-pagination-bullet-active {
    border-width: 8px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(84, 97, 48);
}

.HeaderSection .swiper-pagination-bullet.active:hover {
    border-width: 8px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(84, 97, 48);
}
